.header {
  display: flex;
  justify-content: center;
}
.header_image {
  margin-top: 30px;
  width: 100px;
}

@media (max-width: 840px) {
  .header_image {
    width: 50px;
    margin-top: 30px;
  }
}
