* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

.app-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;

  flex-direction: column;
  background-color: #f3f7fa;
  /* min-width: 1060px; */
  max-width: 1160px;
}

@media (max-width: 930px) {
  .App {
    display: block;
  }
}
